.sidebar-style {
  width: 9%;
}
.sidebar-img {
  height: 130px;
  padding: 20px;
}

.selected-route-nav {
  background-color: lightblue;
  color: darkorchid;
}

.route-nav {
  text-align: center;
  color: black;
  padding: 10px;
  font-size: 18px;
}
.route-nav:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.icon-btn {
  margin: 4px;
  border-radius: 27%;
}
.select-form-type {
  width: 200px;
}

.form-render-container {
  padding: 25px;
}
